<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="login_panel col-md-3 col-centered">
  <div class="row">
    <h1 class="login_header text-center login_text_header">Resend confirmation instructions</h1>
  </div>
  <hr/>
  <%= form_for(resource, as: resource_name, url: user_confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row form-group">
      <%= devise_error_messages! %>
      <div class="col-md-12">
        <%= f.email_field :email, autofocus: true ,:placeholder => "Email" , :class => "form-control"%>
      </div>
    </div>
     <div class="row form-group col-md-12 col-centered">
        <%= button_tag(type: 'submit', class: "btn btn-primary form-control") do %>
          <i class="fa fa-envelope fa-lg"></i>Resend confirmation instructions
        <% end %>
      </div>
    <%end%>
</div>


<% content_for :scripts do %>
<script type="text/javascript">
  <% content_for :inner_scripts do %>

  $(document).ready(function () {

  $(function () {
  $('[data-toggle="popover"]').popover()
})

  $("#new_user").validate({
  rules : {
    "user[email]" : {
        required: true
    }
  },
  showErrors: function(errorMap, errorList) {
    $.each(this.successList, function(index, value) {
      return $(value).popover("hide");
    });
    return $.each(errorList, function(index, value) {
      var _popover;
      _popover = $(value.element).popover({
        trigger: "manual",
        placement: "top",
        content: value.message,
        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
      });
      // Bootstrap 3.x :      
      _popover.data("bs.popover").options.content = value.message;
      return $(value.element).popover("show");
    });
  }
});
    });



  <% end %>
  <%= content_for :inner_scripts %>
</script>
<% end %>

