<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="login_panel col-md-5 col-centered">
  <div class="row">
    <h1 class="login_header text-center login_text_header">Confirm Account</h1>
  </div>
  <hr/>
  <p>You're almost done! Now create a password to securely access your account</p>
    <%= form_for(resource, as: resource_name, url: update_user_confirmation_path , :html => {:method => 'patch'}) do |f| %>
    <div class="row form-group">
      <%= devise_error_messages! %>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <%= f.password_field :password, autofocus: true ,autocomplete: "off" ,:placeholder => "Password" , :class => "form-control text-center"%>
      </div>
      <div class="col-md-6">
        <%= f.password_field :password_confirmation, autocomplete: "off" ,:placeholder => "Password Confirmation" , :class => "form-control text-center", :id => "user_password_confirm"%>
      </div>
    </div>
     <div class="row form-group col-md-6 col-md-offset-3">
        <%= hidden_field_tag :confirmation_token, @original_token %>
        <%= button_tag(type: 'submit', class: "btn btn-primary form-control") do %>
          <i class="fa fa-check fa-lg"></i> Confirm
        <% end %>
      </div>
    <%end%>
</div>



<% content_for :scripts do %>
<script type="text/javascript">
  <% content_for :inner_scripts do %>

  $(document).ready(function () {

  $(function () {
  $('[data-toggle="popover"]').popover()
})

  $("#new_user").validate({
  rules : {
    "user[password]" : {
      minlength: 8 ,
      required: true
    },
    "user[password_confirmation]" : {
      required: true,
      equalTo: "#user_password"
    }
  },
  showErrors: function(errorMap, errorList) {
    $.each(this.successList, function(index, value) {
      return $(value).popover("hide");
    });
    return $.each(errorList, function(index, value) {
      var _popover;
      _popover = $(value.element).popover({
        trigger: "manual",
        placement: "top",
        content: value.message,
        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
      });
      // Bootstrap 3.x :
      _popover.data("bs.popover").options.content = value.message;
      return $(value.element).popover("show");
    });
  }
});
    });



  <% end %>
  <%= content_for :inner_scripts %>
</script>
<% end %>
