<% if @event.errors.any? %><% content_for :scripts do %>
  <script type="text/javascript">
      <% content_for :inner_scripts do %>
       <% @event.errors.full_messages.each do |message| %>
        $(document).ready(function () {
          $.bigBox({
            title: "<%= message %>",
            content: "",
            color: "#b94a48",
            iconSmall: "fa fa-times bounce animated",
            icon : "fa fa-exclamation fadeInLeft animated"
          });
        });
       <% end %>
      <% end %>
  </script><%end %><%end %>
  <div class="widget-body fuelux">
    <div class="wizard">
      <ul class="steps">
        <li class="active" data-target="#step1"><span class=
        "badge badge-info">1</span>Step 1<span class="chevron"></span></li>
        <li data-target="#step2"><span class="badge">2</span>Step 2<span class=
        "chevron"></span></li>
        <li data-target="#step3"><span class="badge">3</span>Step 3<span class=
        "chevron"></span></li>
      </ul>
      <div class="actions">
        <button class="btn btn-sm btn-primary btn-prev" type="button"><i class=
        "fa fa-arrow-left"></i>Prev</button> <button class=
        "btn btn-sm btn-success btn-next" data-last="Finish" type="button">Next
        <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="step-content">
      <%= form_for(@event, :id =>"fuelux-wizard" ,:class =>"form-horizontal" , :url => path) do |f| %>
      <div class="step-pane active" id="step1">
        <h3><strong>Step 1</strong> - Basic Data</h3>
        <!-- wizard form starts here -->
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Event Name</span>
                  <%= f.text_field :event_name, autofocus: true , :class => "form-control input-lg"%>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Organization</span>
                  <%= f.collection_select(:organization_id, current_user.organizations, :id, :name, {:include_blank => ''}, {:id => "select_organization" ,:class => "select2 input-lg"}) %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Point Value</span>
                  <%= f.text_field :point_val, autofocus: true , :class => "form-control input-lg"%>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group col-md-6">
                  <span class="input-group-addon">Hosts</span>
                  <%= f.collection_select(:id, User.where.not(:id => current_user.id ).where.not(:email => "notfound@email.com").where.not(:email => ""), :id, :email, {}, {:multiple => true,:id => "select_host" ,:class => "select2 input-lg"}) %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group col-md-6">
                  <span class="input-group-addon">Tags</span>
                    <%= f.collection_select(:tag_list, Tag.all, :name, :name, {}, {:multiple => true,:id => "select_tags" ,:class => "select2 input-lg"}) %>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="step-pane" id="step2">
        <h3><strong>Step 2</strong> - Description</h3>
        <div class="row">
          <div class="col-sm-12">
            <%= tinymce %><%= f.text_area :description, autofocus: true, :class => "tinymce", :rows => 20 %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.label "Image:" ,:class => "col-md-3 control-label"%><%= f.file_field :image %>
          </div>
        </div>
      </div>
      <div class="step-pane" id="step3">
        <h3><strong>Step 3</strong> - Time & Place</h3>
        <div class="row">
          <div class="col-md-12">
            <h2 class="row-seperator-header"><i class="fa fa-clock-o"></i>
            Time</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Type</span>
                <%= select_tag "event_type", "<option ></option><option value='recure'>Recuring</option><option value='onetime'>One-Time</option>".html_safe, :class=> "form-control input-lg" %>
              </div>
            </div>
          </div>
          <div class="col-sm-8 hidden" id="selectRecureDays">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Days</span>
                <%= select_tag "event_days", "<option value='SU'>Sunday</option><option value='M'>Monday</option><option value='T'>Tuesday</option><option value='W'>Wednesday</option><option value='TH'>Thursday</option><option value='F'>Friday</option><option value='S'>Saturday</option>".html_safe,:multiple => true , :id=> "select2DaysList" ,:class=>"select2 input-lg", :placeholder => "Enter days" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden" id="intervalRecure">
          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="">How Often?</span>
                <%= select_tag "event_recure_intervals", "<option value='W'>Weekly</option><option value='BiW'>Bi-Weekly</option><option value='D'>Daily</option><option value='M'>Monthly</option>".html_safe, :id=> "select2Interval" ,:class=>"select2 input-lg" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden" id="rangeItems">
          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Start Time</span>
                <%= time_field(:event, :day_time , :class => "form-control input-lg") %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">End Time</span>
                <%= time_field(:event, :end_time , :class => "form-control input-lg") %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="lblEnd">Start Date</span>
                <%= date_field_tag  "recudeStartDate", "", :placeholder => "March 20 2016", :class => "form-control input-lg", :size => "150" %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="lblEnd">Stop Date</span>
                <%= date_field_tag "recudeEndDate", "", :placeholder => "March 21 2016", :class => "form-control input-lg", :size => "150" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden" id="excludeItems">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="lblRecure">Excluding</span>
                <%= text_field_tag "exclude", "", :class => "form-control input-lg", placeholder: "March 21 2016, March 22 2016" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden" id="onetimeDayTime">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Day/Time</span>
                <%= text_field_tag "time", "time",:id => "daterange2",:class => "form-control input-lg" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="row-seperator-header"><i class="fa fa-map-marker"></i>
            Location</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group col-md-6">
                <span class="input-group-addon">Building</span>
                  <%= f.collection_select :location_id, Location.order(:building_name), :id, :building_name, {:include_blank => ''}, {:class => "select2 input-lg"}%>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Rooms</span>
                <%= f.grouped_collection_select(:rooms, Location.all, :rooms, :building_name, :id,:room_number, {:include_blank => false},{ :multiple => true, :class => "select2 input-lg" })%>
              </div>
            </div>
          </div>
        </div><%= hidden_field_tag :created_by, :value => @event.created_by %><%= hidden_field_tag :updated_by, :value => current_user.id %><%= f.submit "Save" , :id => "submitForm", :class => "hidden col-md-2 btn btn-primary btn-lg"%>
      </div>
    </div>
  </div><%end %>
  <style>
  a.select2-choice{
  line-height: 45px !important;
  }

  li.select2-search-field{
  height: 44px;
  }
  .select2-container{
  padding: 0px;
  }
  ul.select2-choices, a.select2-choice{
  height: 46px !important;
  }
  #s2id_autogen1{
  height: 42px;
  }
  #event_rooms{
  height:200px;
  width:100px;
  }
  .smart-style-5 .bootstrapWizard li .title{
  color:white;
  }

  </style><%content_for :scripts do %>
  <script type="text/javascript">
  <% content_for :inner_scripts do %>

  var value = "";
  var dates = "";
  $(document).ready(function () {
  pageSetUp();
        var wizard = $('.wizard').wizard();

        wizard.on('finished', function (e, data) {
          $("#submitForm").click();
          /*$.smallBox({
            title: "Congratulations! Your form was submitted",
            content: "<i class='fa fa-clock-o'><\/i> <i>1 seconds ago...<\/i>",
            color: "#5F895F",
            iconSmall: "fa fa-check bounce animated",
            timeout: 4000
          });*/

        });

      <% if page_type == "Edit" %>
        $('#event_rooms').parent().show();;
        $("#event_location_id").val(<%= @event.location_id %>).change();
        $("#event_location_id").select2('val', <%= @event.location_id %>).change();

        var selectRooms = []
        <% @event.rooms.each do |room| %>
          selectRooms.push(<%= room.id %>);
        <% end %>
        $("#event_rooms").val(selectRooms).change();
        $("#event_rooms").select2('val', selectRooms).change();

        var selectedHost = []
        <% @event.hosts.each do |host| %>
          selectedHost.push(<%= host.id %>)
        <% end %>
        $("#select_host").val(selectedHost).change();
        $("#select_host").select2('val', selectedHost).change();
        <% if @event.organization_id %>
          $("#select_organization").val(selectedHost).change();
          $("#select_organization").select2('val', <%= @event.organization_id %>).change();
        <% end %>

      <% end %>

    })
  $('#event_location_id').change(function () {
  $('#event_rooms').select2("val", "");
  });

  $('#event_type').change(function () {
  var option = $(this).find('option:selected').val();
            if(option == "recure")
            {
              $('#selectRecureDays').removeClass("hidden");
              $('#intervalRecure').removeClass("hidden");
              $('#excludeItems').removeClass("hidden");
              $('#rangeItems').removeClass("hidden");
              $('#onetimeDayTime').removeClass("hidden");
              $('#onetimeDayTime').addClass("hidden");

              console.log(option);
            }
            else if (option == "onetime")
            {
              $("#select2DaysList").select2("val", "");
              $('#selectRecureDays').addClass("hidden");
              $('#intervalRecure').addClass("hidden");
              $('#excludeItems').addClass("hidden");
              $("#select2Interval").select2("val", "");
              $('#rangeItems').addClass("hidden");
              $('#onetimeDayTime').removeClass("hidden");

              console.log(option);
            }
            else if (option == "")
            {
               $("#select2Interval").select2("val", "");
              $('#selectRecureDays').addClass("hidden");
              $('#excludeItems').addClass("hidden");
              $('#intervalRecure').addClass("hidden");
              $('#rangeItems').addClass("hidden");
              $('#onetimeDayTime').addClass("hidden");
              console.log(option);
            }
        });


  $('#event_location_id').addClass("select2 input-lg");


  $('#daterange').daterangepicker({
  <% if page_type == "Edit" %>
    "startDate": "<%= @event.day_time.to_s(:datepicker)%>",
    "endDate": "<%= @event.end_time.to_s(:datepicker)%>",
    <% end %>
    "drops": "down",
    "applyClass": "btn  btn-primary",
    "showDropdowns": true,
    "timePicker": true,
    "timePickerIncrement": 30,
    "locale": {
      "format": 'MM/DD/YYYY h:mm A'
        },
    "autoApply": true,
  });

  $('#daterange2').daterangepicker({
  <% if page_type == "Edit" %>
    "startDate": "<%= @event.day_time.to_s(:datepicker)%>",
    "endDate": "<%= @event.end_time.to_s(:datepicker)%>",
    <% end %>
    "drops": "down",
    "applyClass": "btn  btn-primary",
    "showDropdowns": true,
    "timePicker": true,
    "timePickerIncrement": 30,
    "locale": {
      "format": 'MM/DD/YYYY h:mm A'
        },
    "autoApply": true,
  });


  $(function () {
  $('[data-toggle="popover"]').popover()
  })

  $("#new_event").validate({
  rules : {
    "event[event_name]" : {
      required: true
    },
    "event[organization_id]" : {
      required: true
    },
    "event[point_val]" : {
      required: true
    },
      "event[day_time]" : {
      required: true
    },
    "event[description]" : {
        required: true
    },
    "event[location_id]" : {
        required: true
    },
    "event[room_numbers][]" : {
      required: true
    }
  },
  showErrors: function(errorMap, errorList) {
    $.each(this.successList, function(index, value) {
      return $(value).popover("hide");
    });
    return $.each(errorList, function(index, value) {
      var _popover;
      _popover = $(value.element).popover({
        trigger: "manual",
        placement: "top",
        content: value.message,
        template: "<div class=\"popover\"><div class=\"arrow\"><\/div><div class=\"popover-inner\"><div class=\"popover-content\"><p><\/p><\/div><\/div><\/div>"
      });
      // Bootstrap 3.x :
      _popover.data("bs.popover").options.content = value.message;
      return $(value.element).popover("show");
    });
  }
  });




  <% end %>
  <%= content_for :inner_scripts %>
  </script> <%end %>
