<div class= "row">
  <div class="page-heading-bar">
    <ol class="breadcrumb">
      <li >Admin</li>
      <li><%= link_to("All Events", {:action => 'index'}) %></li>
      <li ><%= page_type %> Event</li>
    </ol>
  </div>
</div>
<%= form_for(@event, :class =>"form-horizontal" , :url => path) do |f| %>
<div class="page-panel panel col-md-12 ">
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
        <% concat(content_tag(:div, message, class: "row col-md-4 col-md-offset-8 flash_msg alert fade in") do %>
         <% concat content_tag(:button, 'x', class: "close", data: { dismiss: 'alert' }) %>
         <% concat message %>
       <% end) %>
    <% end %>
  <% end %>

    <div class="row"><h2 class="text-center"><%= page_type %> Event</h2></div>
    <hr>
    <div class="col-md-6 verticalLineRight">
      <h3 class="panel">Basic Data</h3>
      <div class="col-md-12 form-group">
        <%= f.label :event_name ,:class => "col-md-3 control-label"%>
        <div class="col-md-7">
          <%= f.text_field :event_name, autofocus: true , :class => "form-control"%>
        </div>
      </div>

      <div class="col-md-12 form-group">
        <%= f.label :department ,:class => "col-md-3 control-label"%>
        <div class="col-md-7">
          <%= f.text_field :department, autofocus: true , :class => "form-control"%>
        </div>
      </div>


      <div class="col-md-12 form-group">
        <%= f.label :location ,:class => "col-md-3 control-label"%>
        <div class="col-md-7">
          <%= f.text_field :location, autofocus: true , :class => "form-control"%>
        </div>
      </div>

      <div class="col-md-12 form-group">
        <%= f.label "Point Value" ,:class => "col-md-3 control-label"%>
        <div class="col-md-7">
          <%= f.text_field :point_val, autofocus: true , :class => "form-control"%>
        </div>
      </div>

        <div class="col-md-12">
        <%= f.label "Day/Time" ,:class => "col-md-3 control-label"%>
            <div class='input-group date' id='datetimepicker1'>
              <div class="col-md-7">
              <%= f.text_field :day_time , :class => "form-control"%>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>
            </div>
          </div>


    </div>
    <div class="col-md-6">
      <h3 class="panel">Description</h3>
      <div class="col-md-12 form-group">
        <div class="col-md-12 form-group">
            <%= f.text_area :description, autofocus: true  , :class => "form-control", rows: "11"%>
        </div>
         <%= f.label "Image:" ,:class => "col-md-3 control-label"%>
        <%= f.file_field :image %>
      </div>
    </div>
</div>
<div class="form-group col-md-12 col-md-offset-5">
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= f.submit "Save" , :class => "col-md-2 btn btn-primary"%>
</div>
<% end %>


<% content_for :scripts do %>
<script type="text/javascript">
  <% content_for :inner_scripts do %>

  $(document).ready(function () {

  $(function () {
  $('[data-toggle="popover"]').popover()
})

              $(function () {
                $('#datetimepicker1').datetimepicker({
                inline: true,
                sideBySide: true,
                minDate: 0
                <% if page_type == "Edit" %>
                ,defaultDate: '<%= @event.day_time %>'
                <% end %>
            });
            })

  $("#new_event").validate({
  rules : {
    "event[event_name]" : {
      required: true
    },
    "event[department]" : {
      required: true
    },
    "event[point_val]" : {
      required: true
    },
      "event[day_time]" : {
      required: true
    },
    "event[description]" : {
        required: true
    },
    "event[location]" : {
        required: true
    }
  },
  showErrors: function(errorMap, errorList) {
    $.each(this.successList, function(index, value) {
      return $(value).popover("hide");
    });
    return $.each(errorList, function(index, value) {
      var _popover;
      _popover = $(value.element).popover({
        trigger: "manual",
        placement: "top",
        content: value.message,
        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
      });
      // Bootstrap 3.x :      
      _popover.data("bs.popover").options.content = value.message;
      return $(value.element).popover("show");
    });
  }
});
    });



  <% end %>
  <%= content_for :inner_scripts %>
</script>
<% end %>
