<% if current_host %>
  <% flash[:alert] = "Error currently logged in on kiosk" %>
  <h1 class="text-center"><%= link_to "Log in", kiosk_log_in_path %></h1>
<% else %>
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>Gamification</h1>
            <p>Go to sporting events. Excel in the classroom. Enjoy campus life. Win prizes. Yeah, it's that easy.</p>
            <p><a href="#" role="button"><%= link_to 'Sign up today!'.html_safe, '#', data: {toggle: "modal", target: "#sampleModal"}, :class => "btn btn-lg btn-primary" %></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Earn Points by Doing the Things You Love</h1>
            <p>Earning points is easy! Participate in the things that you already love to do on campus.</p>
            <p><a class="btn btn-lg btn-primary" href="#info" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Win Prizes</h1>
            <p>That's right, you get rewarded. Prizes are given out at the end of each semester.</p>
            <p><a href="#" role="button"><%= link_to 'Register Now!'.html_safe, '#', data: {toggle: "modal", target: "#sampleModal"}, :class => "btn btn-lg btn-primary" %></a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-3 text-center">
        <img class="img-circle" src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" width="140" height="140">
        <h2>Freshman Champion</h2>
        <p>This is John Smith. He won last year by a landslide. Watch out for him on the leaderboard!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <img class="img-circle" src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Sophomore Champion</h2>
        <p>This is John Smith. He won last year by a landslide. Watch out for him on the leaderboard!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <img class="img-circle" src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" width="140" height="140">
        <h2>Junior Champion</h2>
        <p>This is John Smith. He won last year by a landslide. Watch out for him on the leaderboard!</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <img class="img-circle" src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png" width="140" height="140">
        <h2>Senior Champion</h2>
        <p>This is John Smith. He won last year by a landslide. Watch out for him on the leaderboard!</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    <section class="" id="info" data-spy="info" data-target="#info">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Earn Points Any Way You Want</h2>
        <p class="lead">Georgia Southwestern State University's Gamification competition doesn't force you to do things you wouldn't want to. Whichever event peaks your interest, simply attend it! If you love sports, attend one of GSW's many sporting events. If you're passionate about Windows to the World, attend any of its seminars. The possibility of earning points are endless. You can even earn points by simply increasing your GPA!</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block img-circle" src="http://www.usnews.com/img/college-photo_24638..jpg" alt="basketball">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="https://gsw.edu/Assets/Home/perspective.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="https://gsw.edu/Assets/Home/graduate.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
  </section>

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 Gamification &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div><!-- /.container -->
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modal-login">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name) , :html=> { :id => "login-form", :class => "smart-form client-form"}) do |f| %>
                <header>
                  Sign In
                  <button type="button" class="close fa fa-times-circle fa-3x" data-dismiss="modal"></button>
                </header>

                <fieldset>

                  <section>
                    <label class="label">E-mail</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <%= f.email_field :email, :id => "emailLogin",  autofocus: true ,:placeholder => "Email" , :class => ""%>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
                  </section>

                  <section>
                    <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <%= f.password_field :password, autocomplete: "off",  :id => "passwordLogin",:placeholder => "Password"%>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                    <div class="note">
                    <%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                     <%#= link_to '<i class="fa fa-question-circle fa-lg"></i> Forgot your password?'.html_safe, new_password_path(resource_name) %>
                    <%# end -%>
                     <%#- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                     <!-- <br> -->
                        <%#= link_to '<i class="fa fa-envelope fa-lg"></i> Resend confirmation instructions?'.html_safe, new_user_confirmation_path(resource_name) %>
                      <%# end -%>
                      <%#- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                      <!--<br>-->
                        <%#= link_to '<i class="fa fa-key fa-lg"></i> Didn\'t receive unlock instructions?'.html_safe, new_unlock_path(resource_name) %> <!-- YOU MAY NEED A LI HERE -->
                      <%# end -%>
                    </div>
                  </section>
                  <section>
                    <label class="checkbox">
                      <% if devise_mapping.rememberable? -%>
                        <%= f.check_box :remember_me %>

                      <% end -%>
                      <i></i>Stay signed in</label>
                  </section>
                </fieldset>
                <footer>
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to '<i class="fa fa-check fa-lg"></i> Sign up'.html_safe, new_registration_path(resource_name), :class=> "btn btn-danger pull-left" %>
                <% end -%>
                <%= button_tag(type: 'button', class: "btn btn-primary", id: "loginBtn") do %>
                  <i class="fa fa-sign-in fa-lg"></i> Log In
                <% end %>
                </footer>
                <%end%>
            </div>
          </div>
  </div>
</div>

<div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modal-login">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html=> { :id => "signup-form", :class => "smart-form client-form"}) do |f| %>
              <header>
                  Sign Up
                  <button type="button" class="close fa fa-times-circle fa-3x" data-dismiss="modal"></button>
                </header>
                <fieldset>
                    <%= devise_error_messages! %>
                  <section>
                    <label class="label">GSW ID</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <%= f.password_field :gsw_id, autofocus: true ,:placeholder => "GSW ID" , :class => "", :id =>"signupId"%>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter GSW ID</b></label>
                  </section>

                  <section>
                    <label class="label">GSW PIN</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <%= f.password_field :gsw_pin, autocomplete: "off" ,:placeholder => "GSW PIN", :id =>"signupPin"%>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your GSW PIN</b> </label>
                    </section>
                  </fieldset>
                  <footer>
                <%= button_tag(type: 'button', class: "btn btn-primary", id: "signupBtn") do %>
                  <i class="fa fa-sign-in fa-lg"></i> Sign Up
                <% end %>
                </footer>
                <%end%>
            </div>
          </div>
  </div>
</div>

<style>

  .minified #main{
    margin-left: 0;
  }
  #content {
    padding: 0;
  }
  .smart-style-5 {
    background-size: cover;
    background-image: url('<%= asset_path("glass.jpg") %>');
    background-position: 60%;
  }

  .navbar-header{
    padding-left: 15px;
  }
  .marketing {
    width: 100%;
  }
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }

  body {
    margin-top: 0;
  }

  p, h1, h2, h3 {
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }


  .modal-login {
    background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    margin-top: 20%;
  }

  .smart-style-5 .smart-form footer {
    background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  }

  .modal-backdrop {
    background-color: rgb(0, 0, 0, 1);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

</style>


<% content_for :scripts do %>
  <script type="text/javascript">
  pageSetUp();

$("#signupId").keyup(function (e) {
    if (e.keyCode == 13) {
        console.log($(this));
        $('#signupPin').focus();
        e.preventDefault();
    }
});

$("#emailLogin").keyup(function (e) {
    if (e.keyCode == 13) {
        console.log($(this));
        $('#passwordLogin').focus();
        e.preventDefault();
    }
});

$("#passwordLogin").keyup(function (e) {
    if (e.keyCode == 13) {
      $('#loginBtn').attr("disabled", true);
      $("#loginBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
      $("#login-form").submit();
    }
});


$('#myCarousel').carousel({
  interval: 10000


});

$("#signupPin").keyup(function (e) {
    if (e.keyCode == 13) {
      $('#signupBtn').attr("disabled", true);
      $("#signupBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
      $("#signup-form").submit();
    }
  });

$( "#loginBtn" ).click(function() {
  $('#loginBtn').attr("disabled", true);
  $("#loginBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
  $("#login-form").submit();
});

$( "#openLogin" ).click(function() {
  $('#sampleModal').modal('hide');
   $('.navbar-toggle').click();
});

$( "#openSignUp" ).click(function() {
  $('#exampleModal').modal('hide');
   $('.navbar-toggle').click();
});

$( "#signupBtn" ).click(function() {
  $('#signupBtn').attr("disabled", true);
  $("#signupBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
  $("#signup-form").submit();
});


</script>
<% end %>
