<% if current_kiosk %>
  <% flash[:alert] = "Error currently logged in on kiosk" %>
  <h1 class="text-center"><%= link_to "Log in", kiosk_log_in_path %></h1>
<% else %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="login_panel col-md-4 col-md-offset-4 centered">
  <div class="row">
    <h1 class="login_header text-center login_text_header">Gameification Log In</h1>
  </div>
  <hr/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row form-group">
      <div class="col-md-12">
        <%= f.email_field :email, autofocus: true ,:placeholder => "Email" , :class => "form-control"%>
      </div>
    </div>
    <div class="row form-group">
            <div class="col-md-12 ">
        <%= f.password_field :password, autocomplete: "off" ,:placeholder => "Password" , :class => "form-control"%>
        </div>
    </div>
      <div class="row form-group col-md-6 col-md-offset-4">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          <% end -%>
      </div>
      <div class="row form-group col-md-6 col-md-offset-3">
        <%= button_tag(type: 'submit', class: "btn btn-primary form-control") do %>
          <i class="fa fa-sign-in fa-lg"></i> Log In
        <% end %>
      </div>
    <%end%>
</div>
<% end %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mainnav">
        <%= render "users/shared/links" %>
      </ul>
    </div>
  </div>
</nav>
