<% if current_kiosk %>
  <% flash[:alert] = "Error currently logged in on kiosk" %>
  <h1 class="text-center"><%= link_to "Log in", kiosk_log_in_path %></h1>
<% else %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div id="extr-page">

  


        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
            <h1 class="txt-color-red login-header-big">Gameification</h1>
            <div class="hero">

              <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">Sign up and start winning today!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla a diam non accumsan. Nam dignissim lorem quis convallis dictum.</p>
                <div class="login-app-icons">
                  <a href="javascript:void(0);" class="btn btn-danger btn-lg">Learn More</a>
                </div>
              </div>
              
              <img src="https://www.union.ic.ac.uk/acc/ultimate/images/icons/events_unselected.png" alt="" style="width:210px">

            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">Earn Points</h5>
                <p class="well">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla a diam non accumsan. Nam dignissim lorem quis convallis dictum. Sed condimentum aliquam justo non pretium. Donec odio nisi, tempus in risus vitae, blandit condimentum nulla. Fusce eget auctor quam, non tincidunt nisi. Suspendisse placerat eros consequat diam tempor, eget efficitur lectus mattis. Integer vitae pharetra libero, sit amet sodales erat. Cras eu dapibus urna, aliquet gravida augue. Donec a nisi ut lorem porta rhoncus. Duis quis justo eget libero facilisis efficitur non non libero. Phasellus non lacus cursus urna luctus posuere et ullamcorper magna.
                </p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">Get Rewarded</h5>
                  <p class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla a diam non accumsan. Nam dignissim lorem quis convallis dictum. Sed condimentum aliquam justo non pretium. Donec odio nisi, tempus in risus vitae, blandit condimentum nulla.</p>

              </div>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name) , :html=> { :id => "login-form", :class => "smart-form client-form"}) do |f| %>
                <header>
                  Sign In
                </header>

                <fieldset>
                  
                  <section>
                    <label class="label">E-mail</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <%= f.email_field :email, autofocus: true ,:placeholder => "Email" , :class => ""%>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
                  </section>

                  <section>
                    <label class="label">Password</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <%= f.password_field :password, autocomplete: "off" ,:placeholder => "Password"%>
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                    <div class="note">
                      <a href="forgotpassword.html">Forgot password?</a>
                    </div>
                  </section>

                  <section>
                    <label class="checkbox">
                      <% if devise_mapping.rememberable? -%>
                        <%= f.check_box :remember_me %>
          
                      <% end -%>
                      <i></i>Stay signed in</label>
                  </section>
                </fieldset>
                <footer>
                <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                          <i class="fa fa-sign-in fa-lg"></i> Log In
                        <% end %>
                </footer>
                <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
<% end %>
