<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-calendar-o fa-lg"></i> </span>
          <h2>Event: <%= @event.event_name %></h2>
        </header>

        <!-- widget div-->
        <div class="no-padding">
          <div class="widget-body">
            <!-- content -->
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                <div class="row no-space">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
 
                          <%= link_to '<i class="fa fa-home fa-lg"></i><br/> Home'.html_safe, main_path, :class => "btn btn-success btn-lg"%>
                          <%= link_to '<i class="fa fa-list fa-lg"></i><br/> List Events'.html_safe, list_path, :class => "btn btn-warning btn-lg"%>
                          <%= link_to '<i class="fa fa-credit-card-alt fa-lg"></i><br/> Start Swipe'.html_safe, {:controller => 'kiosk_pages',:action => 'swipe', :event_id => @event.id}, :class => "btn btn-primary btn-lg"%>
                          <%= link_to '<i class="fa fa-users fa-lg"></i><br/> Attendance'.html_safe, "#", :class => "btn btn-info btn-lg"%>
                                                  <%= link_to '<i class="fa fa-times-circle fa-lg"></i><br/> End Event'.html_safe, "#" , :class => "btn btn-danger btn-lg"%>
                          <%= link_to '<i class="fa fa-sign-out fa-lg"></i><br/> Log Out'.html_safe, destroy_kiosk_session_path , :class => "btn btn-danger btn-lg", :method => :delete%>
                  </div>

                </div>


              </div>
              <!-- end s1 tab pane -->            
            </div>

            <!-- end content -->
          </div>

        </div>
        <!-- end widget div -->
      </div>
<style>

#main{
  margin-left: 0px;
}
body {
 padding-top:20px; 
}
.panel-body .btn:not(.btn-block)
 { width:115px;margin-bottom:10px;
  border: none;
 }

 .panel{
 }
</style>
