<div id="qr-container" style="display: none; background-color: white;">
  <div class="qrcode centered">
  </div>
</div>
<div class="kiosk_header jumbotron">
  <div class="row">
    <p style="display:inline;float:left;">Points: <%= @event.point_val %></p>
      <p style="display:inline;float:right">Department: <%= @event.department %></p>
  </div>
  <div class="row col-md-12"> 
    <h2 class="text-center"><%= @event.event_name %></h2>
  </div>
  <div class="row text-center">
    <p class="col-md-12 text-center" style="display:inline;font-size:18px;"><%= @event.day_time.strftime("%B #{@event.day_time.day.ordinalize} at %l:%M %p") %> to <%= @event.end_time.strftime("%B #{@event.end_time.day.ordinalize} at %l:%M %p") %></p>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="swipe panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <%= form_tag({:controller => 'kiosk_pages',:action => 'new_swipe', :event_id => @event.id}, method: "post") do %>
                                <div class="input-group">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="qrcode" style="height:100px;">Information</button>
                                  </span>
                                  <%= password_field_tag "id", "" ,  autofocus: true , :style => "height:100px;font-size: 50px;" ,:class => "form-control text-center"%>
                                  <span class="input-group-btn">
                                    <%= submit_tag "Swipe", :class => "btn btn-success ",:style => "height:100px;", :id => "submit"%>
                                  </span>
                                </div>
                            <% end %>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    $( document ).ready(function() {
        $('#id').keyup(function () {
            if(this.value.first != ";")
            if (this.value.length == 9) {
              $('#submit').click();                    
                
            }
        });
        setTimeout(function(){
            $('#flash').remove();
        }, 5000);
        $('#qrcode').click(function(){
        var container =
        $('#qr-container')
        .find('div')
        .empty()
        .append('<%= image_tag("/kiosk/kiosk_pages/#{@event.id}/generate_qrcodes.svg", :style => 'background-color: white;width: 100%; height: 100%;') %>')
        .css({
                'width': '100%',
                'height' : '100%'
            })
            .click(function(){
                $('#qr-container').fadeOut('slow');
            })
        .end()
        .fadeToggle('slow');
        $(window).trigger('resize');
    });
    $(window).resize(function(){
        var container = $('#qr-container');
        var isLandscape = ($(window).width() > $(window).height());
        var minSide = isLandscape ? $(window).height() : $(window).width();
        var maxSide = isLandscape ? $(window).width() : $(window).height();
        var qrSide = parseInt(minSide * 0.9, 10);
        var minGap = parseInt(minSide * 0.05, 10);
        container
        .find('div')
        .css({
            'width': qrSide,
            'height': qrSide,
            'top': isLandscape ? minGap : (maxSide - qrSide) / 2,
        });
      });
  });

  </script>
<% end %>


<style>
.kiosk_header
{
    margin-top:0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
h2{ font-size: 50px;
    padding: 0px;
    margin: 0px;}
input { font-size: 18px; }
 .panel{
        border:none;
 }
</style>