<ul class="notification-body">
  <% if @activities.size > 0 %>
    <% @activities.each do |activity| %>
      <% @activity = activity %>
      <% if activity.trackable_type == "Organization" && activity.key != "organization.first_member"%>
        <% org = Organization.find(activity.trackable_id) %>
        <% if org %>
          <% name = org.name %>
        <% else %>
          <%= name = "(Deleted)" %>
        <% end %>
        <% if activity.key == "organization.new_org_request" %>
          <% @icon = "fa-envelope-o" %>
          <% @color = "bg-color-blue" %>
          <% @message = "You requested to create #{name}" %>
          <%= render "shared/notification.html.erb" %>
        <% elsif activity.key == "organization.status_change"  %>
          <% if activity.parameters[:status] %>
            <% @icon = "fa-check" %>
            <% @color = "bg-color-greenLight" %>
            <% @message = "Organization #{name} is active" %>
            <%= render "shared/notification.html.erb" %>
          <% else  %>
            <% @icon = "fa-ban" %>
            <% @color = "bg-color-red" %>
            <% @message = "Organization #{name} is now deactivated" %>
            <%= render "shared/notification.html.erb" %>
          <% end %>
        <% end %>
      <% elsif activity.trackable_type == "Event" && activity.parameters[:action] == "new_swipe" %>
        <% event = Event.find(activity.trackable_id) %>
        <% @icon = "fa-check" %>
        <% @color = "bg-color-greenLight" %>
        <% @message = "Attended Event #{event.event_name} - #{ event.point_val}  Points" %>
        <%= render "shared/notification.html.erb" %>
      <% elsif activity.trackable_type == "User" && activity.key == "user.new_sign_up" %>
         <% @icon = "fa-envelope-o" %>
         <% @color = "bg-color-blue" %>
         <% @message = "You signed up for Gamification!" %>
         <%= render "shared/notification.html.erb" %>
      <% elsif activity.trackable_type == "User" && activity.key == "user.role_added" %>
        <% role_name = Role.find(activity.parameters[:role]).name%>
        <% role_name ||= "(deleted" %>
        <% @icon = "fa-key" %>
        <% @color = "bg-color-greenLight" %>
        <% @message = "You now have access to the #{role_name} role!" %>
        <%= render "shared/notification.html.erb" %>
      <% end %>
    <% end %>
  <% else %>
    <h2 class="text-center">No notications at this time</h2>
  <% end %>
</ul>
