<li>
  <% if !@activity.read %>
    <% read = "unread" %>
  <% else %>
    <% read = @color %>
  <% end %>
  <span class=" <%= read %> padding-10">
    <em class="badge padding-5 no-border-radius <%= @color ||= 'bg-color-greenLight' %> txt-color-white pull-left margin-right-5">
      <i class="fa <%= @icon ||= 'fa-message'  %> fa-fw fa-2x"></i>
    </em>
    <span>
      <p style="line-height: 15px;" class="notiText"><%= @message %></p>
      <br>
      <span class="pull-right font-xs text-muted"><i><%= time_ago_in_words(@activity.created_at) %> Ago</i></span>
    </span>
  </span>
</li>
