      <nav>
        <ul>
          <% if  (can? :manage, :all) || @current_permissions["Admin::User"].include?("manage") || @current_permissions["Admin::Role"].include?("manage") || @current_permissions["Admin::Permission"].include?("manage") || @current_permissions["Admin::Organization"].include?("manage") %>
          <li class="menu-top">
            <a href="#"><i class="fa fa-lg fa-fw fa-users txt-color-blue"></i> <span class="menu-item-parent">Users & Roles</span></a>
            <ul>
              <% if (can? :manage, :all) || @current_permissions["Admin::User"].include?("manage")%>
                <li><%= link_to '<i class="fa fa-user fa-lg"></i>All Users'.html_safe, admin_user_index_path %></li>
              <% end %>
              <% if   (can? :manage, :all) || @current_permissions["Admin::Role"].include?("manage")%>
                <li><%= link_to '<i class="fa fa-list fa-lg"></i>All Roles'.html_safe, admin_roles_path %></li>
              <% end %>
              <% if   (can? :manage, :all) || @current_permissions["Admin::Permission"].include?("manage") %>
                <li><%= link_to '<i class="fa fa-list fa-key"></i>All Permissions'.html_safe, admin_permissions_path %></li>
              <% end %>
              <% if   (can? :manage, :all) || @current_permissions["Admin::Organization"].include?("manage") %>
                <li><%= link_to '<i class="fa fa-list fa-sitemap"></i>All Organizations'.html_safe, admin_organization_index_path %></li>
              <% end %>
            </ul>
            <% end %>
          </li>
          <!--- Customizer -->
          <% if   (can? :manage, :all) || @current_permissions["Admin::Customize"].include?("manage")%>
          <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Customizer</span></a>
            <ul>
              <li><%= link_to '<i class="fa fa-cog fa-lg"></i>Customize Logo'.html_safe, admin_user_index_path %></li>
            </ul>
          </li>
          <% end %>
         <!--- Events -->
         <% if   (can? :manage, :all) || @current_permissions["Admin::Event"].include?("manage") %>
          <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-calendar-o"></i> <span class="menu-item-parent">Events</span></a>
            <ul>
              <li><%= link_to '<i class="fa fa-calendar fa-lg"></i>All Events'.html_safe, admin_events_path %></li>
              <li><%= link_to '<i class="fa fa-tags fa-lg"></i>All Tags'.html_safe, admin_tag_index_path %></li>
            </ul>
          </li>
          <% end %>
          <!-- Locations -->
          <% if   (can? :manage, :all) || @current_permissions["Admin::Location"].include?("manage") %>
          <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">Locations</span></a>
            <ul>
              <li><%= link_to '<i class="fa fa-map-marker fa-lg"></i>All Locations'.html_safe, admin_location_index_path %></li>
            </ul>
          </li>
          <% end %>
          <!-- API Call Log todo(matt): DEPRECATED
          <% if  (can? :manage, :all) %>
          <li>
          <a href="#"><i class="fa fa-lg fa-fw fa-phone"></i> <span class="menu-item-parent">API</span></a>
            <ul>
              <li><%= link_to '<i class="fa fa-phone fa-lg"></i> Call Log'.html_safe, admin_log_index_path %></li>
            </ul>
          </li>
          <% end %>
          DEPRECATED -->
        </ul>
      </nav>
      <span class="minifyme" style=" border-bottom-right-radius: 25px;" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
      </span>
    <!-- END NAVIGATION -->
<style>


.menu-top{
  border-top-right-radius: 25px;

}

/* ONLY Material */
.smart-style-6 aside#left-panel{
  border-top-right-radius: 25px;
}


/* ONLY GLASS */

.smart-style-5 aside#left-panel{
  background:none ;
}

</style>



<% content_for :scripts do %>
<script type="text/javascript">
  <% content_for :inner_scripts do %>
  <%= javascript_tag do %>

  var win = $(this);      // browser window
var nav = $('.sidebar'); // your navigation bar

function switchNavbar() {
    if (win.width() < 768) { // on mobile
        nav.removeClass('navbar-static-top');
        nav.addClass('navbar-fixed-bottom');
    } else { // on desktop
        nav.removeClass('navbar-fixed-bottom');
        nav.addClass('navbar-static-top');
    }
}

// On first load
$(function() {
    switchNavbar();
});

// When browser resized
$(window).on('resize', function(){
    switchNavbar();
});




  <% end %>
  <% end %>
</script>
<% end %>
