<nav class="navbar navbar-inverse  navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="<%= current_class?(authenticated_root_path) %>"><%= link_to '<i class="fa fa-home fa-lg"></i> Home'.html_safe, authenticated_root_path %></li>
          <% if (can? :manage, :all) || @current_permissions["Admin::Event"].include?("create") || @current_permissions["Admin::Event"].include?("manage") %>
            <li class="<%= current_class?(events_path) %>"><%= link_to '<i class="fa fa-calendar fa-lg"></i> My Created Events'.html_safe, events_path %></li>
          <% end %>
          <li class="<%= current_class?(my_points_events_path) %> "><%= link_to '<i class="fa fa-star fa-lg"></i> My Points'.html_safe, my_points_events_path %></li>
          <!-- Right Nav -->
          <li style="float:right"> <%= link_to '<i class="fa fa-sign-out fa-lg"></i> Log Out'.html_safe, destroy_user_session_path , :method => :delete%></li>
          <li style="float:right" class="<%= current_class?(settings_path) %>"><%= link_to '<i class="fa fa-cog fa-lg"></i> My Profile'.html_safe, settings_path %></li>
        <% else %>
            <li><%= render "users/shared/links" %></li>
        <% end %>

      </ul>
    </div>
  </div>

</nav>

<style>
.navbar{
  min-height: 0px;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
</style>