<nav class="navbar usermenu navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gameification</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mainnav">
        <li class="<%= current_class?(authenticated_root_path) %>"><%= link_to '<i class="fa fa-home fa-lg"></i> Home'.html_safe, authenticated_root_path %></li>
        <li class="<%= current_class?(events_path) %>"><%= link_to '<i class="fa fa-calendar fa-lg"></i> My Events'.html_safe, {:controller => 'Events',:action => 'index'} %></li>
        <li class=""><%= link_to '<i class="fa fa-star fa-lg"></i> My Points'.html_safe, authenticated_root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right mainnav">
        <li class="<%= current_class?(settings_path) %>"><%= link_to '<i class="fa fa-cog fa-lg"></i> Settings'.html_safe, settings_path %></li>
        <li> <%= link_to '<i class="fa fa-sign-out fa-lg"></i> Log Out'.html_safe, destroy_user_session_path , :method => :delete%></li>
      </ul>
    </div>
  </div>
</nav>