<%= link_to("<< Back to List", {:action => 'index'}) %>

<div>
	<h2>Show User</h2>

	<table summary="User detail view">
		<tr>
			<th>User ID</th>
			<td><%= @user.id %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Created at</th>
			<td><%= @user.created_at %> </td>
		</tr>
		<tr>
			<th>Sign in count</th>
			<td><%= @user.sign_in_count %></td>
		</tr>
			<th>Updated</th>
			<td><%= @user.updated_at %></td>
		</tr>
	</table>

</div>