<%= link_to({:controller => 'events',:action => 'show', :id => event.id}) do %>
<div class="col-md-6" style="padding:10px;">
<div class="jarviswidget jarviswidget ">
        <header class="bg-color-blueDark">
          <h2><%= event.event_name %> - <%= event.day_time.to_formatted_s(:long_ordinal) %></h2>

          <% if (can? :update, event, :context => :admin) %>
          <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="Show" class="fa fa-pencil fa-sm"></i>'.html_safe, {:controller => 'Admin::Events',:action => 'edit', :id => event.id} ,:class => "btn  btn-sm", :style => "float:right") %>
          <% end %>
        </header>
        <div>
          <div class="widget-body widget-hide-overflow no-padding">

              <% if event.image_url.to_s == "" %>
                <img class="event_tile_img" src="http://placehold.it/140x100">
              <% else %>
                <%= image_tag event.image_url(:resized).to_s ,:class => "event_tile_img" %>
              <% end %>
              <%= ActionView::Base.full_sanitizer.sanitize(event.description.html_safe)[0,100] + '...' %>
              <p class="points"><small><b>Points: </b><i><%= event.point_val %></i></small></p>

          </div>
        </div>
        <!-- end widget div -->
      </div>
      </div> 
<% end %>
 
<style>
.event_tile_img{
  float:left;
  margin:2px;
}
.points{
  position: absolute; 
bottom: 0;
right: 0;
margin-right: 5px;
float:right;
}
</style>
