 <%= link_to(show_events_path(event) ) do %>

      <div class="<%= style %>">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center; margin-top:20px;">
            <span class="badge bg-color-red points"><b>Points: </b><i><%= event.point_val %></i></span>
              <% if event.image_url.to_s == "" %>
                <img class="event_tile_img" src="http://placehold.it/380x200">
              <% else %>
                <%= image_tag event.image_url(:kiosk_page_mobile).to_s ,:class => "event_tile_img" %>
              <% end %>
            </p>
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <h3 style="padding:5px;"><%= event.event_name %> - <%= event.day_time.to_formatted_s(:long_ordinal) %><% if (can? :update, event, :context => :admin) %>
              <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="Show" class="fa fa-pencil "></i>'.html_safe, {:controller => 'Admin::Events',:action => 'edit', :id => event.id} ,:class => "btn  btn-sm", :style => "float:right;display:inline;") %>
            <% end %></h3>
                <p><%= event.description %></p>
                <%= link_to(show_events_path(event), :class => "btn") do %><span class="glyphicon glyphicon-plus">  INFO</span></a><%end %>
              </div>
            </div>
          </div>

      </div>


<% end %>



<style>
.points{
  position: absolute;
  top: 5%;
  right: 0;
  margin-right: 5px;
  float:right;
}
</style>



