
    <div class="well padding-gutter" id="quick_stats">
      <p class="text-center">Quick Stats</p>
      <table class="table">
        <tr>
          <th>Event Name:</th>
          <td><%= event.event_name %></td>
        </tr>
        <tr>
          <th>Attendance:</th>
          <td><%= event.attendees.size %></td>
        </tr>
        <tr>
          <th>Export Attendance List:</th>
          <td>
          <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="Manage" class="fa fa-download"></i> Export'.html_safe, {:controller => "events", :action => 'csv', :id => event.id},:remote => true ,:class => 'btn btn-danger btn-sm')%>
          </td>
        </tr>
        <tr>
          <th>Event Hosts:</th>
          <td>
            |<%= User.find(event.created_by).email %><% User.find(event.created_by).id %>|
            <br>
            <% event.hosts.each do |host| %>
              |<%= host.email %><% host.id%>|
              <br>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
<script>
console.log("worked");
var trBelow = $("#<%= event.id %>").closest("tr").next("tr");
if(trBelow.attr("id") == "attendance_tr")
{
  trBelow.remove();
}
else
{
  $(".nohover").remove();
  newRow = $('<tr style="z-index: -90;" id="attendance_tr" class="well nohover"  ><td colspan="6" ><h2 class="text-center">Attendance Data</h2><%=  escape_javascript(render "events/inlineform.html.erb",:path => admin_event_path(event) ,:page_type => "Edit", :event => event)  %></td></tr>').insertAfter($("#<%= event.id %>").closest('tr'));
}




</script>

<style>
.table-hover > tbody > tr.nohover:hover > td {
     background: rgba(255, 255, 255, 0.23);
 }
</style>


