 <%= link_to(manage_events_path(event) ) do %>

<div class="<%=style %>" >
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
        <div>
          <div class="widget-body widget-hide-overflow no-padding" style="height:230px;">
              <% if event.image_url.to_s == "" %>
                <img class="event_tile_img" src="http://placehold.it/400x330">
              <% else %>
                <%= image_tag event.image_url(:kiosk_page_mobile).to_s ,:class => "event_tile_img" %>
              <% end %>
               <span class="badge bg-color-red points"><small><b>Points: </b><i><%= event.point_val %></i></small></span>
           <div class="widget-footer text-left" style="position:absolute;bottom:0;width:100%">

            <p><%= event.event_name %> - <%= event.day_time.to_formatted_s(:long_ordinal) %>
            <% if (can? :update, event, :context => :admin) %>
              <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="Show" class="fa fa-pencil fa-sm"></i>'.html_safe, {:controller => 'Admin::Events',:action => 'edit', :id => event.id} ,:class => "btn  btn-sm", :style => "float:right;display:inline;") %>
            <% end %>
            </p>
          </div>
          </div>
        </div>
        <!-- end widget div -->
      </div>
      </div>
<% end %>



<style>
.points{
  position: absolute;
  top: 5%;
  right: 0;
  margin-right: 5px;
  float:right;
}
</style>
