<% if !mobile_device? %>
  <div class="row col-md-12">
      <% if ((can? :manage, :all) || (can? :update, @event, :context => :admin))%>
        <button class="btn btn-info pull-right">
       <%= link_to('New Event'.html_safe, {:controller => 'Admin::Events' ,:action => 'new'}) %>
       </button>
      <% end %>
      <input id='events_table_search' type="search" class="form-control pull-right" placeholder="Search..." style="display: inline; width: 200px">
  </div>
 <% end %>
     <br>    <br>    <br>
<div class="row">
  <div class="col-md-4 <% if mobile_device? %>  affix quickStatsTile" id="mobileQuickTile" <% else %> " <% end %> style="z-index:9000">
    <div id="stats">
      <%= render(:partial=>"quick_stats.html.erb", locals: { event: @event} , :formats => [:html]) %>
    </div>
    <% if !mobile_device? %>
      <div id="myfirstchart" class="chart no-padding" style="position: relative;"></div>
    <% end %>
  </div>

  <div class="col-md-8">
    <ul id="myTab1" class="nav nav-tabs bordered">
      <li class="active">
        <a href="#s1" id="upcoming_events" data-toggle="tab">Upcoming Events</span></a>
      </li>
      <li>
        <a href="#s1" id="past_events" data-toggle="tab">Past Events</a>
      </li>
    </ul>
    <div id="myTabContent1" class="tab-content no-padding">
      <div class="tab-pane fade in active" id="s1">
        <table id="events_table" onload="setTableRow()" class="table table-hover dataTable no-footer"  data-source="<%= events_path(format: "json") %>" style="margin-top: 0px !important;"></table>
      </div>
    </div>
  </div>
</div>



<% content_for :scripts do %>
  <script type="text/javascript">
    var row;
    var lastId;
    var newRow;
    var datatable;

    var event_show = "upcoming"
    $( document ).ready(function() {
pageSetUp();
    $('#exportsubmit').click(function(){
       $('#exportForm').submit();
  });

      $("#events_table").delegate('tr', 'click', function() {
        if(this.id != "attendance_tr")
        {
          if (row != undefined)
          {
            row.removeClass('success')
          }

          row = $("#" + this.id).addClass('success');

          $.ajax({url: '<%= url_for :action => 'index' %>',

          data: 'event_id=' + this.id,
          dataType: 'script'})
          lastId = this.id
        }
    });

      $( "#list" ).click(function() {
        $('#events_grid').addClass("hidden");
        $('#events_table').removeClass("hidden");
      });

      $( "#upcoming_events" ).click(function() {
        event_show = "upcoming"
        events_table.dataTable().api().draw(false);
      });

      $( "#past_events" ).click(function() {
        event_show = "past"
        events_table.dataTable().api().draw(false);
      });

      $( "#tile" ).click(function() {
        $('#events_table').addClass("hidden");
        $('#events_grid').removeClass("hidden");
      });
      <% if !mobile_device? %>
          var val = 10;
          var year = 2000;
        new Morris.Bar({
          element: 'myfirstchart',
          data: [
          <% current_user.created_events.each do |event| %>
            { event: '<%= event.event_name %>', attendance: <%= event.attendees.size.to_f %> },
          <% end %>
          ],
          xkey: 'event',
          ykeys: ['attendance'],
          labels: ['Attendance']
        });
      <% end %>


      var events_table = $('#events_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "iDisplayLength": 12,
        "bProcessing": true,
        "bServerSide": true,
         "oLanguage": {
        "sProcessing": "<div class='shaft-load3'><div class='shaft1'></div><div class='shaft2'></div><div class='shaft3'></div><div class='shaft4'></div><div class='shaft5'></div><div class='shaft6'></div><div class='shaft7'></div><div class='shaft8'></div><div class='shaft9'></div> <div class='shaft10'></div></div>"
           },
        "sAjaxSource": $('#events_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Name", "data": "events__event_name"},
          { "title": "Location", "data": "events__location_id"},
          { "title": "Points", "data": "events__point_val"},
          { "title": "Start", "data": "events__day_time"},
          { "title": "End", "data": "events__end_time"},
          { "title": "Actions", "data": "event_actions"}

        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#events_table_search").val() },
            { "name": "eventShow", "value": event_show },
            { "name": "iDisplayLength", "value": $("#events_table_length").val() }
          );
        },
        fnDrawCallback: function( oSettings ) {
          $('#events_grid').html('');
          $.each(oSettings.aoData, function( index, result ) {
            $('#events_grid').append(result._aData.events_eventTile);
          });
      }
    });
      $("#events_table_length").on("change", function() {
        events_table.dataTable().api().draw(false);
      });
      $('#events_table_search').keyup(function(){
        events_table.dataTable().api().draw(false);
      });
      $('#mobileQuickTile').on("click", function() {
        if ($('#mobileQuickTile').hasClass('quickStatsTile'))
        {
          $('#mobileQuickTile').removeClass('quickStatsTile');
          $('#mobileQuickTile').addClass('quickstatsOpen');
        }
        else
        {
          $('#mobileQuickTile').removeClass('quickstatsOpen');
          $('#mobileQuickTile').addClass('quickStatsTile');
        }
      });
    })
  </script>
<% end %>

<style>

.quickStatsTile{
  bottom: 0px;
  height: 7%;
  margin-left: -5px;
  margin-right: -15px;
  background: black;
}

.quickstatsOpen{
  bottom: -40px;
  margin-left: -5px;
  margin-right: -15px;
  background: black;
}



</style>
