<div class="col-md-12">
  <h1 class="text-center"><%= @event.event_name %></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <p class="text-center">Quick Stats</p>
      <table class="table">
        <tr>
          <th>Event Name:</th>
          <td><%= @event.event_name %></td>
        </tr>
        <tr>
          <th>Attendance:</th>
          <td><%= @event.attendance %></td>
        </tr>
        <tr>
          <th>Export Attendance List:</th>
          <td> <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Export</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-8">
  <h2 class="text-center">Attendance</h2>
<table summary "Events List" id="events_table" class="table table-hover"  data-source="<%= manage_events_path(format: "json") %>"></table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">CSV Column Selection</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@event, url: manage_events_path(@event, format: :csv), :html => {:class=>"smart-form"}, method: :get) do |f| %>
          <%= select_tag "user_col", "<option value='email'>Email</option><option value='gsw_id'>GSW ID</option><option value='name'>Name</option><option value='class_type'>Class</option><option value='time'>Arrival Time</option>".html_safe,:multiple => true,:class=>"select2 input-lg", :placeholder => "Enter Columns" %>

      </div>
      <div class="modal-footer">
        <%= f.submit "Export" , :id => "submitForm", :class => "col-md-2 btn btn-primary btn-lg"%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :scripts do %>
  <script>
      var datatable;
    $( document ).ready(function() {
  pageSetUp();

   $('#selectRecureDays').addClass("hidden");
   var events_table = $('#events_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "iDisplayLength": 12,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#events_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "GSW ID" , "data": "users__gsw_id"},
          { "title": "Name" , "data": "users__name"},
          { "title": "Email", "data": "users__email"},
          { "title": "Class", "data": "users__class_type"},
          { "title": "Time", "data": "users_events__created_at"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#events_table_search").val() },
            { "name": "iDisplayLength", "value": $("#events_table_length").val() }
          );
        },
        fnDrawCallback: function( oSettings ) {
          $('#events_grid').html('');
          $.each(oSettings.aoData, function( index, result ) {
            $('#events_grid').append(result._aData.events_eventTile);
          });
      }
    });
      $("#events_table_length").on("change", function() {
        events_table.dataTable().api().draw(false);
      });
      $('#events_table_search').keyup(function(){
        events_table.dataTable().api().draw(false);
      });
    });
  </script>
<% end %>


