<div class="col-md-12">
	<div class="jumbotron">
		<h2 class="text-center"><%= @event.event_name %></h2>
		<hr>
		<div class="row col-md-12">
			<p class="text-left col-md-3">Points: <%= @event.point_val %></p>
			<p class="col-md-3">Location: <%= @event.location_id %></p>
			<% if @event.organization_id %>
				<p class="col-md-3">Organization: <%= Organization.find(@event.organization_id).name %></p>
			<% end %>
			<p class="text-right col-md-3">Day/Time: <%= @event.day_time.to_formatted_s(:short) %></p>
		</div>
	</div>

	<div class="well">
		<%= @event.description.html_safe %>
	</div>
</div>






