<div id= "ribbon">
    <ol class="breadcrumb">
      <li >Admin</li>
      <li >Users</li>
      <li><%= link_to("All Users", {:action => 'index'}) %></li>
      <li >Edit</li>
      <li class="active"><%= @user.username %></li>
    </ol>
</div>
   <%= form_for(@user, :url => admin_user_path, :html => {:class =>""}) do |f| %>
      <div class="jarviswidget well transparent" id="wid-id-9" role="widget">
        <!-- widget div-->
        <div role="content">
          <!-- widget content -->
          <div class="widget-body">
            <div class="panel-group smart-accordion-default" id="accordion">
              <div class="panel panel-default">     
                <div class="panel-body no-padding">
                  <div class="page-panel panel col-md-12 ">
                    <h2 class="row-seperator-header"><i class="fa fa-th-list"></i> User Data </h2>
                    <div class="col-md-12">
                      <%= f.label :email ,:class => "col-md-3 control-label"%>
                        <div class="col-md-7">
                          <%= f.email_field :email, autofocus: true ,:value => @user.email , :class => "form-control"%>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                      <%= f.label :username ,:class => "col-md-3 control-label"%>
                      <div class="col-md-7">
                        <%= f.text_field :username, autofocus: true ,:value => @user.username , :class => "form-control"%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> Roles </a></h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <div class="col-md-12 form-group">
                      <div class="col-md-7">
                        <div class="inline-group">
                          <% Role.all.each do |role|%>  
                            <%= f.label :role , :class => "checkbox" do %>
                              <%= check_box_tag 'user[_roles][]', role.id, @user.roles.where(:id => role.id).any? %>
                              <%= role.name.capitalize %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-offset-5">
        <%= f.submit "Save" , :class => "col-md-2 btn btn-primary btn-lg"%>
      </div>
    <% end %>
<% content_for :scripts do %>
  <script type="text/javascript">

  </script>
<% end %>
