<div class= "row">
  <div class="page-heading-bar<%= (can? :manage, :sidebar) ? "" : "-user" %>">
    <ol class="breadcrumb">
      <li><%= link_to(current_user.username + "'s Dashboard", { :controller => 'dashboard' ,:action => 'index'}) %></li>
      <li class="active">Settings</li>
    </ol>
  </div>
</div>
  <%= form_for(@user, :class =>"form-horizontal", url: {action: "updatesettings"}, :method => :POST) do |f| %>
<div class="page-panel panel col-md-12 ">
    <div class="row"><h2 class="text-center">Edit User</h2></div>
    <hr>
    <div class="col-md-6 verticalLineRight">
      <h3 class="panel">Basic Data</h3>
      <div class="col-md-12 form-group">
        <%= f.label :email ,:class => "col-md-3 control-label"%>
        <div class="col-md-7">
          <%= f.email_field :email, autofocus: true ,:value => @user.email , :class => "form-control"%>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <%= f.label :username ,:class => "col-md-3 control-label"%>
        <div class="col-md-7">
          <%= f.text_field :username, autofocus: true ,:value => @user.username , :class => "form-control"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <% if (can? :manage, :all) %>
      <%= f.label "API Token:" %>
      <%= current_user.api_token %>
      <% end %>
    </div>
</div>
<div class="form-group col-md-12 col-md-offset-5">
  <%= f.submit "Save" , :class => "col-md-2 btn btn-primary"%>
</div>

<% end %>
