<div class= "row">
<div class="page-heading-bar">
	<ol class="breadcrumb">
	 	<li >Admin</li>
	  <li><%= link_to("All Users", {:action => 'index'}) %></li>
	  <li class="active"><%= current_user.username %></li>
	</ol>

</div>
</div>
<div class="">

	
	<table class=""summary="User detail view">
		<tr>
			<th>User ID</th>
			<td><%= @user.id %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Created at</th>
			<td><%= @user.created_at %> </td>
		</tr>
		<tr>
			<th>Sign in count</th>
			<td><%= @user.sign_in_count %></td>
		</tr>
			<th>Updated</th>
			<td><%= @user.updated_at %></td>
		</tr>
	</table>
</div>
</div>


