<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="login_panel col-md-4 col-md-offset-4 centered">
  <div class="row">
    <h1 class="login_header text-center login_text_header">Forgot your password?</h1>
  </div>
  <hr/>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row form-group">
      <%= devise_error_messages! %>
      <div class="col-md-12">
        <%= f.email_field :email, autofocus: true ,:placeholder => "Email" , :class => "form-control"%>
      </div>
    </div>
      <div class="row form-group col-md-6 col-md-offset-3">
        <%= button_tag(type: 'submit', class: "btn btn-primary form-control") do %>
          <i class="fa fa-envelope fa-lg"></i> Send Instructions
        <% end %>
      </div>
    <%end%>
</div>


<nav class="navbar usermenu navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mainnav">
      </ul>
      <ul class="nav navbar-nav navbar-right mainnav">
        <%= render "users/shared/links" %>
      </ul>
    </div>
  </div>
</nav>


