<button class="btn form-control btn-sm" data-toggle="modal" data-target="#roleModal<%= role.id %>"><i data-toggle="tooltip" data-placement="bottom" title="Manage" class="fa fa-search-plus fa-lg"></i></button>
<%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="Delete" class="fa fa-trash fa-lg"></i>'.html_safe, delete_role_organizations_path(:id => @organization.id, :role_id => role.id), method: :delete, data: { confirm: 'Are you sure?' }, :class  => "btn form-control btn-sm") %>

<%= javascript_tag do %>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
<% end %>

<!-- NEW ROLE MODEL -->
<div class="modal fade" id="roleModal<%= role.id %>" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true" style="margin-top:100px;display: none;">
  <div class="modal-dialog">
    <div class="modal-content"><div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"><%= role.name %></h4>
  </div>
<div class="modal-body no-padding">
  <%= form_for(OrgRole.new, :html => {:id =>"role-form" ,:class =>"smart-form" }, :url => edit_role_organizations_path(:id => @organization, :role_id => role.id)) do |f| %>
    <fieldset>
      <section>
        <div class="row">
          <label class="label col col-2">Name</label>
          <div class="col col-10">
            <label class="input">
              <input type="name" name="name" value="<%= role.name %>">
            </label>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <label class="label col col-2">Description</label>
          <div class="col col-10">
            <label class="input">
              <input type="description" name="description" value="<%= role.description %>">
            </label>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <label class="label col col-2">Permissions</label>
          <div class="col col-10">
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "everything" , role.permissions.include?("everything")%>
              <i></i>&nbsp<%= "Everything" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "create-event", role.permissions.include?("manage-events") %>
              <i></i>&nbsp<%= "Manage Events" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "accept-member", role.permissions.include?("manage-invites") %>
              <i></i>&nbsp<%= "Manage Invitations" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "delete-member", role.permissions.include?("delete-member") %>
              <i></i>&nbsp<%= "Delete Members" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "create-role", role.permissions.include?("manage-role") %>
              <i></i>&nbsp<%= "Manage Roles" %>
            </label>
          </div>
        </div>
      </section>
    </fieldset>
    <footer>
      <button type="submit" class="btn btn-primary">
        Save
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Cancel
      </button>
    </footer>
  <% end %>
</div>
</div>
  </div>
</div>
<!-- NEW ROLE MODEL -->
