<div class="jumbotron">
  <h1 class="text-center"><%= @organization.name %></h1>
  <div class="row">
  <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-news")%>
    <button data-toggle="modal" data-target="#newArticle" class="btn btn-primary pull-right">New Post</button>
  <% end %>
  </div>
</div>
<ul id="myTab1" class="nav nav-tabs bordered nav-justified">
  <li class="active">
    <a href="#dashboard" data-toggle="tab" aria-expanded="false">Dashboard</a>
  </li>
  <li class="">
    <a href="#roster" data-toggle="tab" aria-expanded="true"><i class="fa fa-fw fa-users"></i>Roster
    <% @request = Request.where(:organization_id => @organization.id, :status => "open") %>
    <% if (@request.size > 0)%>
      <span class="badge bg-color-blue txt-color-white"><%= @request.size  %></span>
    <% end %>
    </a>
  </li>
  <li class="">
    <a href="#events" data-toggle="tab" aria-expanded="true">Events</a>
  </li>
  <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-role")%>
    <li class="">
      <a href="#roles" data-toggle="tab" aria-expanded="true">Roles</a>
    </li>
  <% end %>
</ul>
<div id="myTabContent1" class="tab-content padding-10">
  <div class="tab-pane active fade in" id="dashboard">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <%= @organization.summary %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <%= @organization.description %>
        </div>
      </div>
    </div>
    <div class=row>
      <div class="col-md-12">
       <div class="col-md-3">
        <div class="smart-timeline">
          <ul class="smart-timeline-list">
            <% @joinactivities.each do |activity| %>
              <% if activity.key == "organization.new_org_request" %>
                <li>
                  <div class="smart-timeline-icon">
                    <i class="fa fa-sitemap"></i>
                  </div>
                  <div class="smart-timeline-time">
                    <small><%= time_ago_in_words(activity.created_at) %> Ago</small>
                  </div>
                  <div class="smart-timeline-content">
                    <p>
                      <a href="javascript:void(0);"><strong>Organization Created</strong></a>
                    </p>
                  </div>
                </li>
              <% elsif activity.key == "organization.create_article" %>
                <li>
                  <div class="smart-timeline-icon">
                    <i class="fa fa-file-text"></i>
                  </div>
                  <div class="smart-timeline-time">
                    <small><%= time_ago_in_words(activity.created_at) %> Ago</small>
                  </div>
                  <div class="smart-timeline-content">
                    <p>
                      <a href="javascript:void(0);"><strong>New Post!</strong></a>
                    </p>
                    <p>
                      By: <%= activity.owner.email %>
                    </p>
                  </div>
                </li>
              <% elsif activity.key == "organization.add_role_member" %>
                <% @member = User.find(activity.owner_id) %>
                <% @role = OrgRole.where(:id => activity.parameters[:roles]) %>
                <% if @role.size == 1 %>
                  <% role_name = @role.first.name %>
                <% else %>
                  <% role_name = "(Deleted)" %>
                <% end %>
                <li>
                  <div class="smart-timeline-icon">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="smart-timeline-time">
                    <small><%= time_ago_in_words(activity.created_at) %> Ago</small>
                  </div>
                  <div class="smart-timeline-content">
                    <p>
                      <a href="javascript:void(0);"><strong><%= activity.owner.email %> given <%= role_name %> </strong></a>
                    </p>
                    <p>
                      <%= activity.owner.email %>
                    </p>
                  </div>
                </li>
            <% elsif activity.key != "organization.status_change" || activity.key != "organization_invite_member" %>
                <li>
                  <div class="smart-timeline-icon">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="smart-timeline-time">
                    <small><%= time_ago_in_words(activity.created_at) %> Ago</small>
                  </div>
                  <div class="smart-timeline-content">
                    <p>
                      <a href="javascript:void(0);"><strong>New Member!</strong></a>
                    </p>
                    <p>
                      <%= activity.owner.email %>
                    </p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <% @articles = Article.order(created_at: :desc).where(:organization_id => @organization.id).limit(5) %>
        <% @articles.each do |article| %>
          <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" style="" role="widget">
            <header role="heading">
              <h2><%= article.title %></h2>
            </header>
            <div role="content">
              <div class="widget-body">
                <% if article.body %>
                  <%=  article.body.html_safe %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="roster">
    <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-invites")%>
      <button class="btn btn-info pull-right" data-toggle="modal" data-target="#inviteModal">Invite Member</button>
    <% end %>
    <table summary "Roster List" id="roster_table" class="table table-hover"  data-source="<%= member_page_organizations_path(:type => "roster",:id => @organization.id ,format: "json") %>"></table>
    <h2 class="row-seperator-header"><i class="fa fa-plus"></i> Pending Membership Request </h2>
    <table summary "Pening List" id="pending_table" class="table table-hover"  data-source="<%= member_page_organizations_path(:type => "pending",:id => @organization.id ,format: "json") %>"></table>

  </div>
  <div class="tab-pane fade" id="events">
    <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-events")%>
      <button class="btn btn-info pull-right">
        <%= link_to('New Event'.html_safe, {:controller => 'Admin::Events' ,:action => 'new', :org_id => @organization.id}) %>
      </button>
    <% end %>
    <table summary "Event List" id="events_table" class="table table-hover"  data-source="<%= member_page_organizations_path(:type => "event", :id => @organization.id ,format: "json") %>"></table>
  </div>
  <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-role")%>
    <div class="tab-pane fade" id="roles">
      <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-role")%>
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#remoteModal"> New Role</button>
      <% end %>
      <table summary "Roles List" id="roles_table" class="table table-hover"  data-source="<%= member_page_organizations_path(:type => "roles",:id => @organization.id ,format: "json") %>"></table>
    </div>
  <% end %>
</div>






 <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-news")%>
<!-- NEW Article MODEL -->
<div class="modal fade" id="newArticle" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true" style="margin-top:100px;display: none;">
  <div class="modal-dialog">
    <div class="modal-content"><div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">New Role</h4>
  </div>
<div class="modal-body no-padding">
  <%= form_for(Article.new, :html => {:id =>"newArticleForm" ,:class =>"smart-form" }, :remote => true , :url => create_article_organizations_path(:id => @organization)) do |f| %>
    <fieldset>
      <section>
        <div class="row">
          <label class="label col col-2">Title</label>
          <div class="col col-10">
            <label class="input">
              <input type="name" name="title">
            </label>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-md-12">
            <label class="input">
              <%= f.text_area :body ,:class => "tinymce", :rows => 20 %><%= tinymce %>
            </label>
          </div>
        </div>
      </section>
    </fieldset>
    <footer>
      <button type="submit" id="new_ArticleBtn" class="btn btn-primary">
        Create
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Cancel
      </button>
    </footer>
  <% end %>
</div>
</div>
  </div>
</div>
<!-- NEW Article MODEL -->
<% end %>


 <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-role")%>
<!-- NEW ROLE MODEL -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true" style="margin-top:100px;display: none;">
  <div class="modal-dialog">
    <div class="modal-content"><div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">New Role</h4>
  </div>
<div class="modal-body no-padding">
  <%= form_for(OrgRole.new, :html => {:id =>"newRoleForm" ,:class =>"smart-form" }, :remote => true , :url => new_role_organizations_path(:id => @organization)) do |f| %>
    <fieldset>
      <section>
        <div class="row">
          <label class="label col col-2">Name</label>
          <div class="col col-10">
            <label class="input">
              <input type="name" name="name">
            </label>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <label class="label col col-2">Description</label>
          <div class="col col-10">
            <label class="input">
              <input type="description" name="description">
            </label>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <label class="label col col-2">Permissions</label>
          <div class="col col-10">
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "everything" %>
              <i></i><%= "Everything" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "manage-events" %>
              <i></i><%= "Manage Events" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "manage-invites" %>
              <i></i><%= "Manage Invitations" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "delete-member" %>
              <i></i><%= "Delete Members" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "manage-news" %>
              <i></i><%= "Manage News" %>
            </label>
            <label class="checkbox">
              <%= check_box_tag 'role[_permisisons][]', "manage-role" %>
              <i></i><%= "Manage Roles" %>
            </label>
          </div>
        </div>
      </section>
    </fieldset>
    <footer>
      <button type="submit" id="new_roleBtn" class="btn btn-primary">
        Create
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Cancel
      </button>
    </footer>
  <% end %>
</div>
</div>
  </div>
</div>
<!-- NEW ROLE MODEL -->
<% end %>
<% if @org_perms.include?("everything") ||  @org_perms.include?("manage-invites")%>
<!-- USER INVITATION MODEL -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true" style="margin-top:100px;display: none;">
  <div class="modal-dialog">
    <div class="modal-content"><div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Invite Member</h4>
  </div>
<div class="modal-body no-padding">
  <%= form_tag(org_invite_member_request_path(:organization_id => @organization.id), :id => "login-form", :class => "smart-form") do %>
    <fieldset>
      <section>
        <div class="row padding-10">
          <div class="form-group">
            <div class="input-group col-md-12">
              <span class="input-group-addon">User</span>


              <% @users = User.includes(:organizations_users, :requests).where.not(:id => current_user.id ).where.not(:email => "notfound@email.com").where.not(:email => "").where('organizations_users.organization_id <> ? or organizations_users.organization_id is null', @organization.id).where(" requests.status <> 'open' or requests.organization_id is null").references(:organizations_users) %>



              <% users = Array.new %>
              <% @users.each do |user| %>
                <% if user.requests.where(:organization_id => @organization.id, :status => ["open"]).size == 0 %>
                  <% users << user %>
                <% end %>
              <% end %>
              <%= select_tag("users", options_from_collection_for_select(users, "id", "username"), {:multiple => true,:id => "select_users" ,:class => "select2"}) %>
            </div>
          </div>
        </div>
      </section>
    </fieldset>
    <footer>
      <button type="submit" class="btn btn-primary">
        Invite
      </button>
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Cancel
      </button>
    </footer>
  <% end %>
</div>
</div>
  </div>
</div>
<!-- USER INVITATION MODEL -->
<% end %>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      pageSetUp();
      var roster_table = $('#roster_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#roster_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Email", "data": "users__email" },
          { "title": "Roles", "data": "users__org_roles" },
          { "title": "Actions", "data": "user_actions"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#users_table_search").val() },
            { "name": "iDisplayLength", "value": $("#users_table_length").val() }
          );
        },
      });

    var events_table = $('#events_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#events_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Event Name", "data": "events__event_name" },
          { "title": "Location", "data": "events__location_id" },
          { "title": "Points", "data": "events__point_val" },
          { "title": "Actions", "data": "event_actions"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#users_table_search").val() },
            { "name": "iDisplayLength", "value": $("#users_table_length").val() }
          );
        },
      });

    var pending_table = $('#pending_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#pending_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Username", "data": "users__username" },
          { "title": "Email", "data": "users__email" },
          { "title": "Actions", "data": "user_actions"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#users_table_search").val() },
            { "name": "iDisplayLength", "value": $("#users_table_length").val() }
          );
        },
      });


     <% if @org_perms.include?("everything") ||  @org_perms.include?("manage-role")%>
    var roles_table = $('#roles_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#roles_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Role Name", "data": "roles__name" },
          { "title": "Actions", "data": "role_actions"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#users_table_search").val() },
            { "name": "iDisplayLength", "value":'10' }
          );
        },
      });
    <% end %>


$( "#new_roleBtn" ).click(function() {
  $('#new_roleBtn').attr("disabled", true);
  $("#new_roleBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
  $("#newRoleForm").submit();
});

$( "#new_ArticleBtn" ).click(function() {
  tinyMCE.triggerSave();
  $('#new_ArticleBtn').attr("disabled", true);
  $("#new_ArticleBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
  $("#newArticleForm").submit();
});

    });



  </script>
<% end %>
