<%= form_for(@organization, :class =>"form-horizontal" , :url => new_organization_request_organizations_path, :html => {:id => "submitFrm"}) do |f| %>
  <div class="page-panel panel col-md-12 ">
      <div class="row"><h2 class="text-center">New Organization</h2></div>
      <hr>
      <div class="col-md-6 verticalLineRight">
        <h3 class="panel">Basic Data</h3>
        <div class="col-md-12 form-group">
          <%= f.label :name ,:class => "col-md-3 control-label"%>
          <div class="col-md-7">
            <%= f.text_field :name, autofocus: true ,:value => @organization.name , :class => "form-control"%>
          </div>
        </div>

        <div class="col-md-12 form-group">
          <%= f.label :summary ,:class => "col-md-3 control-label"%>
          <div class="col-md-7">
            <%= f.text_area :summary, autofocus: true ,:value => @organization.summary , :class => "form-control"%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="panel">Description</h3>
        <div class="col-md-12 form-group">
          <div class="col-md-12 form-group">
              <%= f.text_area :description, autofocus: true ,:value => @organization.description , :class => "form-control"%>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <div class="col-md-12 form-group">
            <%= f.label "Image:" ,:class => "col-md-3 control-label"%><%= f.file_field :image %>
          </div>
        </div>
        <div class="col-md-12 form-group">
         <%= f.label "Leader Title" ,:class => "col-md-3 control-label"%>
          <div class="col-md-7 form-group">
              <%= f.text_field :org_roles, :class => "form-control" ,:value => ""%>
          </div>
        </div>
      </div>


  </div>
  <div class="form-group col-md-12 col-md-offset-5">
    <button class="col-md-2 btn btn-primary" id="submitBtn">Save</button>
  </div>
<% end %>

<%content_for :scripts do %>
  <script type="text/javascript">
  <% content_for :inner_scripts do %>
    $(document).ready(function () {
      pageSetUp();

    })
  <% end %>



$( "#submitBtn" ).click(function() {
  $('#submitBtn').attr("disabled", true);
  $("#submitBtn").html('Please Wait..<i class="fa fa-refresh fa-spin fa-lg fa-fw margin-bottom"></i>');
  $("#submitFrm").submit();
});


  <%= content_for :inner_scripts %>
  </script>
  <%end %>

<style>
  a.select2-choice{
  line-height: 45px !important;
  }

  li.select2-search-field{
  height: 44px;
  }
  .select2-container{
  padding: 0px;
  }
  ul.select2-choices, a.select2-choice{
  height: 46px !important;
  }
  #s2id_autogen1{
  height: 42px;
  }
  #event_rooms{
  height:200px;
  width:100px;
  }
  .smart-style-5 .bootstrapWizard li .title{
  color:white;
  }
  </style>
