<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Capstone" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="smart-style-5 hidden-menu">
    <% if  current_user %>
      <%= render "shared/usermenu.html.erb"%>
    <% end %>
    <% if  can? :view, :sidebar%>
      <aside id="left-panel"><%= render "shared/sidebar.html.erb"%></aside>
    <% end %>
    <div id="main" role="main">
        <div id="content">
        <% if !flash.empty? %>
          <%= flash_messages %>
        <% end %>
      <%= yield %>
      </div>
    </div>
  <%= javascript_include_tag "application"%>

  <%= yield :scripts %>
  </body>
</html>



