<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : "Capstone" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="smart-style-5 minified">
    <% if !current_kiosk && !(current_class?(kiosk_log_in_path) == "active" )%>
        <%= render "shared/usermenu.html.erb"%>
    <% end %>  
    <% if can? :view, :sidebar%>
      <aside id="left-panel"><%= render "shared/sidebar.html.erb"%></aside>
      <div id='main'role="main"> 
    <% else %>
      <div role="main">
    <% end %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
  <%= javascript_include_tag "application"%>
  <% if !flash.empty? %>
    <% content_for :scripts do %>
      <script type="text/javascript">
        $(document).ready(function () {
          <% flash.each do |msg_type, message| %>
            $.bigBox({
              title: "<%= message %>",
              content: "",
              <% if msg_type == "success" %>
                sound_file: "bigbox",
                src: "<%= asset_path('bigbox.ogg') %>",
              <% elsif msg_type == "alert" %>
                sound_file: "messagebox",
                src: "<%= asset_path('messagebox.ogg') %>",
              <% elsif msg_type == "swiped" %>
                sound_file: "messagebox",
                src: "<%= asset_path('messagebox.ogg') %>",
              <% elsif msg_type == "info" %>
                sound_file: "messagebox",
                src: "<%= asset_path('messagebox.ogg') %>",
              <% end %>
              color: "<%=bootstrap_class_for(msg_type) %>",
              iconSmall: "fa fa-times bounce animated",
              icon : "fa fa-info fadeInLeft animated",
              timeout: 5000
            });
          <% end %>
        });
      </script>
    <% end %>
  <% end %> 
  <%= yield :scripts %>

  </body>
</html>