<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Capstone" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="smart-style-5 minified">
 
    <% if  current_user %>
      <%= render "shared/usermenu.html.erb"%>
    <% end %>
    <% if  can? :view, :sidebar%>
      <%= render "shared/sidebar.html.erb"%>
    <% end %>

    <div class="main">
        <% if !flash.empty? %>
          <%= flash_messages %>
        <% end %>
      <%= yield %>
    </div>
  <%= yield :scripts %>

  </body>
</html>



